/****************** Pallete from Material Palette ************
/****  www.materialpalette.com/purple/deep-purple 

.dark-primary-color    { background: #7B1FA2; }
.default-primary-color { background: #9C27B0; }
.light-primary-color   { background: #E1BEE7; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #448AFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
*/

:root {
  --dark-primary-color: #7B1FA2; 
  --default-primary-color: #9C27B0; 
  --light-primary-color: #E1BEE7; 
  --text-primary-color: #FFFFFF; 
  --accent-color: #448AFF;
  --primary-text-color #212121; 
  --secondary-text-color: #757575; 
  --divider-color: #BDBDBD; 
}

/****************************************************************/

body {
  margin: 10px;
}

h1 {
  text-align: center;
}

.skishop-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 10px auto 20px;

}

.gear-card {
  border: 3px solid black;
  box-shadow: 4px 8px #444444;
  width: 28%;
  margin: 10px 10px;
/*  background-color: rgb(233, 232, 247); */
  background-color: var(--light-primary-color); 
  /*color: var(--secondary-text-color); */

}

.gear-card header {
/*  border: 1px solid lightblue; */
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  min-height: 6em;
  width: 92%;
  margin: 3% auto 3%;
  /* background-color: rgb(483, 483, 580); */
  background-color: var(--dark-primary-color);
  color: var(--text-primary-color);
  
}
.gear-card h2 {
  text-align: center;
}

.description-section {
}
.description-section img {
  display: block;
  width: 92%;
  margin: 0 auto;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}
.description-section .description p {
  padding: 0 4% 0;
  min-height: 8em;
  text-align: justify;
}
.availability {
  background-color: var(--accent-color);
  color: yellow;
  text-align: center;
  font-size: 1.2em;
}

.specifications,.pricing {
  padding: 0 4% 0;
}


.size_weight, .volume {
  font-weight: bold;
  margin-left: 5%;
}
.specifications footer {
  text-align: center;
}
